nav{
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    max-width: 50vw;
    gap: 20px;
    align-items: center;

}

ul li > * {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}